<div class="header">
    <% if (!is_post()) { %>	
      <h1><%= config.title %></h1>
      <p><%= config.subtitle %></p>
    <% } %>
 
  <nav>
    <ul class="nav">
      <% for (name in theme.menu) { %>
      <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
      <% } %>
    </ul>
  </nav>
</div>
